.bg-color {
  &-primary-linear {
    background: $primary-linear-color !important;
  }
  &-primary {
    background: $primary-color !important;
  }
  &-white {
    background: $white !important;
  }
  &-white2 {
    background: $white2 !important;
  }
  &-white3 {
    background: $white3 !important;
  }
  &-grey1 {
    background: $grey1 !important;
  }
  &-grey2 {
    background: $grey2 !important;
  }
  &-grey3 {
    background: $grey3 !important;
  }
  &-grey4 {
    background: $grey4 !important;
  }
  &-grey5 {
    background: $grey5 !important;
  }
  &-grey6 {
    background: $grey6 !important;
  }
  &-table-header-background {
    background: $table-header-background !important;
  }
  &-red {
    background: $red !important;
  }
  &-red1 {
    background: $red1 !important;
  }
  &-green {
    background: $green !important;
  }
  &-blue1 {
    background: $blue1 !important;
  }
  &-light-yellow {
    background: $light-yellow !important;
  }
}
