$values: 0, 5, 8, 10, 12, 14, 20, 25, 30, 40;
@each $value in $values {
  .radius-#{$value}-px {
    border-radius: $value * 1px !important;
  }
}

$percents: 10, 20, 50, 100;
@each $percent in $percents {
  .radius-#{$percent}-percent {
    border-radius: $percent * 1% !important;
  }
}
