$font-sizes: 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26,
  28, 30, 32, 34, 36, 54, 64, 75, 100, 120;
@each $font-size in $font-sizes {
  .fz-#{$font-size} {
    font-size: $font-size * 1px;
  }
  .fz-xs-#{$font-size} {
    @include res_max-width(576) {
      font-size: $font-size * 1px !important;
    }
  }
  .fz-sm-#{$font-size} {
    @include res_max-width(768) {
      font-size: $font-size * 1px !important;
    }
  }
  .fz-md-#{$font-size} {
    @include res_max-width(992) {
      font-size: $font-size * 1px !important;
    }
  }
  .fz-lg-#{$font-size} {
    @include res_max-width(1200) {
      font-size: $font-size * 1px !important;
    }
  }
}
