$max-heights: 70, 75, 110, 125, 250;
@each $max-height in $max-heights {
  .max-h-#{$max-height}-px {
    max-height: $max-height * 1px !important;
  }
}

.max-h {
  &-max-content {
    max-height: max-content;
  }
}
