$paddings: 3, 5, 6, 7, 9, 10, 12, 15, 16, 20, 24, 30, 40, 45, 60, 72, 80, 84, 100, 120, 124, 140, 200;
@each $padding in $paddings {
  .pb-#{$padding} {
    padding-bottom: $padding * 1px !important;
  }
  .pt-#{$padding} {
    padding-top: $padding * 1px !important;
  }
  .pr-#{$padding} {
    padding-right: $padding * 1px !important;
  }
  .pl-#{$padding} {
    padding-left: $padding * 1px !important;
  }
  .p-#{$padding} {
    padding: $padding * 1px !important;
  }
}
