$widths: 10, 6, 15, 19, 20, 23, 25, 30, 33, 35, 40, 47, 50, 53, 55, 60, 65, 70, 75, 80, 90, 95, 100, 115, 120, 125, 130,
  131, 132, 133, 135, 136, 140, 145, 150, 160, 170, 180, 200, 240, 250, 280, 300, 402, 420, 520, 600, 700, 800;
@each $width in $widths {
  .w-#{$width}-px {
    width: $width * 1px;
  }
  .w-#{$width} {
    width: $width * 1% !important;
  }
  .w-xs-#{$width} {
    @include res_max-width(576) {
      width: $width * 1px !important;
    }
  }
  .w-sm-#{$width} {
    @include res_max-width(768) {
      width: $width * 1px !important;
    }
  }
  .w-md-#{$width} {
    @include res_max-width(992) {
      width: $width * 1px !important;
    }
  }
  .w-lg-#{$width} {
    @include res_max-width(1200) {
      width: $width * 1px !important;
    }
  }
  .w-xl-#{$width} {
    @include res_min-width(1201) {
      width: $width * 1px !important;
    }
  }
}

.w-fit-content {
  width: fit-content !important;
}
