.c-sidebar {
  width: 45%;
  transition: all 0.3s linear;
  border-right: 2px solid #dedede;
  transform: translateX(-100%);
  background: white;
  z-index: 10;
  height: calc(100vh - 10px);
  &__content {
    position: relative;
    overflow-y: auto;
    max-height: calc((100vh - 90px) / 2);
    padding: 0 0 20px 0;
  }
  &__content ul {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
  }
  &__btn {
    display: none;
    z-index: 11;
  }
  &__header {
    span {
      line-height: 90px;
    }
  }
  &__title {
    margin: 0;
    list-style-position: inside;
    li::marker {
      color: #55aeb4;
      font-size: 30px;
    }
    sup {
      top: -2px;
      margin-left: -20px;
    }
  }
  &__info {
    line-height: 35px;
    border-bottom: 2px solid #e9ecef;
    @media screen and (max-width: 1100px) {
      padding-bottom: 12px;
    }
    @media screen and (max-width: 500px) {
      flex-wrap: wrap;
    }
  }
  &__info-left {
    margin-left: 15px;
    @media screen and (max-width: 1100px) {
      margin-left: 8px;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
  &__name {
    margin: 0 10px;
  }
  &__time {
    @media screen and (max-width: 500px) {
      margin-left: 75px;
      margin-top: 10px;
    }
  }
  &__info-right {
    @media screen and (max-width: 500px) {
      margin-top: 10px;
    }
    @media screen and (max-width: 395px) {
      margin-left: 55px;
    }
  }
  &__message:hover div,
  &__icon-clock:hover div,
  &__edit:hover div {
    display: block !important;
    z-index: 2;
  }
  &__message,
  &__icon-clock,
  &__edit {
    margin-right: 25px;
    @media screen and (max-width: 1100px) {
      margin: 0 8px;
    }
    @media screen and (max-width: 975px) {
      margin: 0 15px;
    }
  }
  @media screen and (max-width: 975px) {
    width: 100%;
  }
  &__button {
    @media screen and (max-width: 975px) {
      display: block;
      position: absolute;
      font-size: 50px;
      line-height: 90px;
      top: -5px;
      right: 30px;
      color: #55aeb4;
      font-weight: 100;
    }
    @media screen and (max-width: 395px) {
      right: 10px;
      top: -25px;
    }
  }
}

.active {
  background-color: #f4f7fc;
}

// custom scrollbar
html *::-webkit-scrollbar {
  border-radius: 0;
  height: 12px;
  width: 8px;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  height: 12px;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
