.list-invitation {
  &__top {
    border: 2px solid $white3;
    border-radius: 12px;
    padding: 15px 30px;
    &-title {
      font-weight: 600;
    }
  }

  &__bottom {
    border: 2px solid $white3;
    border-radius: 12px;
    padding: 15px 30px;
    &-name {
      letter-spacing: 6px;
    }
    &:hover {
      background-color: #f4f7fc99;
      border: 2px solid #f4f7fc99;
    }
  }
  input,
  textarea {
    border: 1px solid $white3;
    &:focus-visible {
      outline: none;
    }
  }
  textarea {
    resize: none;
  }

  button {
    width: 80px;
    background-color: #55aeb4;
    color: #fff;
    border: none;
    font-size: 14px;
    border-radius: 6px;
  }
}

.list-invitation__bottom.border-active {
  border: 2px solid #f4f7fc;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled),
.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-pagination {
  color: #615a5a !important;
}
.ant-pagination-item,
.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-prev .ant-pagination-item-link {
  border: none !important;
}

.ant-pagination-item.ant-pagination-item-active {
  border: 50% !important;
  background-color: #55aeb4 !important;
  border-radius: 50% !important;
  color: #fff !important;
}

.ant-pagination-item {
  border-radius: 50% !important;
}
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #55aeb4 !important;
}
input[type="text"]::placeholder,
textarea::placeholder {
  font-size: 14px;
  opacity: 0.5;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border-color: #55aeb4 !important;
  box-shadow: 0 0 0 2px #55aeb433;
}

.ant-pagination-jump-next:hover,
.ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-link-icon,
.ant-pagination-jump-prev:hover,
.ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-link-icon {
  color: #55aeb4 !important;
}
// hide temporary
.ant-pagination-options {
  display: none !important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #55aeb4 !important;
  box-shadow: 0 0 0 2px #55aeb433;
}
