$margins: -15, -5, 0, 1, 2, 5, 6, 7, 8, 9, 10, 13, 14, 15, 18, 20, 22, 25, 30,
  33, 35, 40, 47, 50, 55, 60, 70, 72, 80, 90, 100;
@each $margin in $margins {
  .mb-#{$margin} {
    margin-bottom: $margin * 1px !important;
  }

  .mt-#{$margin} {
    margin-top: $margin * 1px !important;
  }

  .mr-#{$margin} {
    margin-right: $margin * 1px !important;
  }

  .ml-#{$margin} {
    margin-left: $margin * 1px !important;
  }

  .m-#{$margin} {
    margin: $margin * 1px !important;
  }
}

.ml-auto {
  margin-left: auto;
}
