$min-heights: 60, 70, 75, 110, 125;
@each $min-height in $min-heights {
  .min-h-#{$min-height}-px {
    min-height: $min-height * 1px !important;
  }
}
.min-h {
  &-max-content {
    min-height: max-content;
  }
}
