$min-widths: 20, 35, 70, 115, 120, 200, 240;
@each $min-width in $min-widths {
  .min-w-#{$min-width}-px {
    min-width: $min-width * 1px !important;
  }
}

@each $min-width in $min-widths {
  .min-w-#{$min-width} {
    min-width: $min-width * 1% !important;
  }
}

.min-w {
  &-max-content {
    min-width: max-content;
  }
}
