.text {
  &-global {
    color: $primary-color !important;
  }
  &-white {
    color: $white !important;
  }
  &-white3 {
    color: $white3 !important;
  }
  &-grey1 {
    color: $grey1 !important;
  }
  &-grey2 {
    color: $grey2 !important;
  }
  &-grey3 {
    color: $grey3 !important;
  }
  &-grey4 {
    color: $grey4 !important;
  }
  &-grey6 {
    color: $grey6 !important;
  }
  &-taupe-gray-color {
    color: $taupe-gray-color !important;
  }
  &-pink {
    color: $pink !important;
  }
  &-blue2 {
    color: $blue2 !important;
  }
  &-blue3 {
    color: $blue3 !important;
  }
  &-blue4 {
    color: $blue4 !important;
  }
  &-red1 {
    color: $red1 !important;
  }
  &-black1 {
    color: $black1 !important;
  }
  &-grey-title {
    color: $sonic-silver-color !important;
  }
  &-color-primary {
    color: $text-color-primary !important;
  }
}
