.base-table {
  .table-responsive {
    //padding-bottom: 20px;
  }
  .deleted-row {
    background-color: $light-pink;
  }
  .table-empty-text {
    border-bottom: 1px solid $table-border-color;
  }
  table {
    user-select: none;
    width: 100%;
    margin: auto;
    th {
      font-weight: 400;
      color: $taupe-gray-color;
      border-bottom: 1px solid $table-border-color;
      border-top: 0;
      background-color: $table-header-background;
    }
    th,
    td {
      padding: 0.75rem 0.5rem;
      padding-left: 2rem;
      vertical-align: middle;
      white-space: nowrap;
      border-bottom: 1px solid $table-border-color;
    }
    td {
      color: $cell-text-color;
      position: relative;
    }
    tr {
      height: 55px;
    }
    thead {
      th {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
    tbody {
      overflow-y: auto;
      tr:not(.deleted-row):hover {
        background: $row-hover-background;
      }
      tr:hover {
        .button-group-content {
          display: flex;
        }
      }
      tr:active .button-group-content {
        display: flex;
      }
    }
  }
  .table-header-link {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  .button-group-content {
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    bottom: 0;
    display: none;
    .btn-action {
      width: 30px;
      height: 30px;
      background: $table-action-background;
      border: 3px solid $table-action-background;
      border-radius: 50%;
      line-height: 24px;
      text-align: center;
      font-size: 18px;
      margin: 10px;
      color: $primary-color;
      position: relative;
      &:last-child {
        margin-right: 20px;
      }
      a {
        width: 100%;
        height: 100%;
      }
      &:hover {
        color: $primary-hover-color;
        &::before {
          display: block;
        }
      }
      &::before {
        display: none;
        content: attr(data-hover);
        position: absolute;
        top: calc(100% + 10px);
        padding: 2px 5px;
        background: $tooltip-action-background;
        font-size: 14px;
        color: $white-color;
        white-space: pre;
        border-radius: 5px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
      }
    }
  }
  tr:last-child {
    .button-group-content {
      .btn-action {
        &::before {
          top: unset;
          bottom: calc(100% + 10px);
        }
      }
    }
  }
}
