.content-left {
  border-right: 1px solid #eee;
  width: 25%;
  @include res_max-width(1230) {
    width: 42% !important;
  }
  &__title {
    font-weight: 600;
    color: $black-color;
  }

  &__item:not(.active):hover {
    background-color: #e4eefb;
    border-radius: 8px;
  }

  &__item.active {
    background-color: #e4eefb;
    border-radius: 8px;
  }

  &__item::after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 98%;
    height: 1px;
    background-color: #eee;
  }
  &__content {
    color: $black-color;
  }
}
