.table-vertical {
  width: 90%;
  @include res_max-width(1300) {
    width: 100%;
  }
  &__item {
    border: 1px solid #55aeb475;
    border-bottom: none;
    &:last-child {
      border-bottom: 1px solid #55aeb475;
    }
  }
  &__title {
    width: 25%;
    min-width: 200px;
    border-right: 1px solid #eee;
    background-color: #f2f6f7;
    font-weight: 600;
  }
  &__data {
    width: calc(100% - 180px);
    padding-left: 40px;
    position: relative;
    &-text {
      font-weight: normal;
      color: $black-color;
    }
    &-edit {
      top: 25px;
      right: 16px;
    }
  }
}
