.pulse {
  animation: pulse-animation-white 2s infinite;
}

.pulse-black {
  animation: pulse-animation-black 1s infinite;
}

@keyframes pulse-animation-black {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes pulse-animation-black {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-animation-white {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes pulse-animation-white {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}
