.step-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 60px;
  background-color: $white;
  color: $primary-color;
  position: relative;
  letter-spacing: 1px;
  font-size: 14px;
  @include res_max-width(800) {
    width: 150px;
    font-size: 12px;
  }
  @include res_max-width(630) {
    width: 120px;
    font-size: 10px;
  }
  @include res_max-width(500) {
    width: 100px;
    font-size: 10px;
  }
  transition: width 0.3s ease;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
}

.step-box-animate {
  animation: slide-in 0.5s ease-out;
}

.step-arrow-animate {
  animation: slide-in 0.1s ease-out;
}

.chosen-step {
  background-color: $primary-color;
  color: $white;
}

.triangle-right,
.triangle-right-small,
.triangle-chosen {
  width: 0px;
  height: 0;
  position: absolute;
  z-index: 1;
}

.triangle-right {
  border-left: 40px solid $primary-color;
  border-top: 30px solid $white;
  border-bottom: 30px solid $white;
  right: -35px;
}

.triangle-right-small {
  border-left: 40px solid $white;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: 2;
  right: -33px;
}

.triangle-chosen {
  border-left: 40px solid $white;
  border-top: 30px solid $primary-color;
  border-bottom: 30px solid $primary-color;
  right: -35px;
  //   animation: arrow 0.5s ease-out;
}

.login-line {
  background-color: #d7d7d7;
  width: 100%;
  height: 2px;
}
.text-check {
  top: 35px;
  width: 40px;
  height: 20px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}

.text-break {
  white-space: nowrap;
}

.authentication-form-input {
  max-width: 800px !important;
}
