.account {
  &__title {
    color: $black-color;
    font-weight: 600;
  }
  &__input {
    color: $black-color;
    font-weight: 600;
    border: 1px solid #e2e2e2;
    width: 70% !important;
    border-radius: 8px;
    @include res_max-width(1400) {
      width: 90% !important;
    }
    &:focus-visible {
      outline: none;
    }
  }
}

.table-vertical__data input.account__input {
  font-weight: normal;
  &:disabled {
    background-color: #fff;
  }
}
