$primary-linear-color: linear-gradient(
  90deg,
  rgba(88, 193, 157, 1) 0%,
  rgba(85, 164, 185, 1) 50%,
  rgba(80, 141, 213, 1) 100%
);
$primary-color: #55aeb4;
$primary-color-extra: #0f4d92;
$white: #fff;
$white2: #f0f2f4;
$white3: #eeeeee;
$number-color: #55aeb4;
$color-text-side-bar: #6c757d;
$white-color: #fff;
$primary-hover-color: rgba(85, 174, 180, 0.8);
$orange-color: #e65620;
$orange-hover-color: #b93e11;
$disabled-color: #797979;
$white-color: #fff;
$bg-active: #e4eefb;
$black-color: #615a5a;
$seperate-color: #bababa;
$new-tag-color: #449b9f;
$light-gray: #ccc;
$selected-color: #f7f7f7;
$light-gray-eee: #eee;
$border-gray-color: #cac9c8;
$btn-collapse: #f2f2f2;
$cancel-button-hover-color: rgba(237, 175, 59, 0.8);
$cancel-button-color: #ecaf3b;
$sonic-silver-color: #838383;
$grey1: #989898;
$grey2: #f1f1f1;
$grey3: #cccccc;
$grey4: #bcb8b8;
$grey5: #949797;
$grey6: #f0f0f0;
$grey7: #d1d1d1;
$black1: #615a5a;
$red: rgb(255, 0, 0);
$red1: #e86464;
$blue1: #658cc0;
$blue2: #5cd4e7;
$blue3: #2e9ccd;
$blue4: #1faee5;
$pink: #ee1b5d;
$text-gray-color: #6c6c6c;
$bg-active: #e4eefb;
$notify-yellow-color: #f2db34;
$people-empty-bg: #ebeae9;
$text-color-primary: #666;
$green: #64e47a;
$text-404: #5f5b5b;

//using for base_table.scss

$taupe-gray-color: #888;
$table-border-color: #dee2e6;
$table-header-background: #f7f7f8;
$cell-text-color: #333;
$table-action-background: $white-color;
$table-action-hover-background: #eee;
$tooltip-action-background: #323332;
$row-hover-background: #fafafa;
$cancel-button-color: #ecaf3b;
$light-pink: #fdf1f4;
$light-yellow: #fffddd;
